
.jurabotec{
    font-size:10pt;
}

.jurabotec .table{
    border: 1px solid black;
}

.jurabotec .table tr{
    border: 1px solid red;
}

.jurabotec .table td{
    border: 1px solid black;
}

.jurabotec .table th{
    border: 1px solid black;
    white-space: nowrap;
}

.jurabotec h2{
    font-size:15pt;
    font-weight: bold;
}
