
.jurabotec{
    // color:red;
    font-size:10pt;
}

.jurabotec .table{
    // color:green;
    border: 1px solid black;
}

.jurabotec .table tr{
    // color:yellow;
    border: 1px solid red;
}

.jurabotec .table td{
    // color:blue;
    border: 1px solid black;
}

.jurabotec .table th{
    // color:blue;
    border: 1px solid black;
    white-space: nowrap;
}

.jurabotec h2{
    font-size:15pt;
    font-weight: bold;
}
